@import '../../utils/variables';

h1 {
  font-size: 36px;
}

h6 {
  font-size: 8px;
  margin-top: -20px;
}

.formWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 26px;
    grid-row-gap: 26px;

    width: 90%;
    margin: 40px auto 20px;
}

.form:before, .form:after {
  content: '';
  display: block;
  border-top: 6px double $cream-1;
  width: 250px;
  margin: 0 auto;
  border-radius: 200px 200px 50% 50%;

}

.form:after {
  border-radius: 50% 50% 200px 200px;
}

.file {
  padding: 0;
  color: transparent;

  &:hover {
    color: $red-5;
  }

  &:focus {
    outline: 2px double transparent;
  }

  &:active {
    outline: 6px double $cream-1;
  }
}

.file::-webkit-file-upload-button {
  visibility: hidden;

} 

.file::before {
  content: "Pick your photo..";
  display: block;
  height: 100%;
  width: 100%;
  background-color: $red-2;
  border: none;
  color: $cream-1;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: all .2s ease-in-out;

  &:hover {
    background-color: $cream-1;
    color: $red-1;
  }
}

.checkboxWrapper {
  width: 80%;

  margin: 0 auto;
  margin-top: 40px;
  display: flex;

  transition: all .2s ease-out;

  p {
    margin: 0px 5px 0;
  }

  &:hover {
    transition: none;
    cursor: pointer;
    color: $red-4;
  }
}

.checkbox {
  width: 40px;
  height: 40px;
  background-color: $cream-1;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 2px double transparent;
  }

}

.submitButton {
  margin: 40px 0;
  padding: 10px 20px;
  font-size: 20px;

  &:hover {
    background-color: $red-1;

  }

  &:active {
    background-color: $red-2;
    transition: unset;

  }
}
