@import 'src/scss/vars';

.details {
  display: flex;
  width: 100%;
}

.wrapper {
  margin: 0 50px;
  padding: 50px 0;
  text-align: center;
  background-color: $black-1;
  width: 100%;
}

.error {
  padding: 5px 10px;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 14px;
  background-color: $red-1;
  color: $white-1;

  &:hover {
    background-color: $red-2;
  }
}
