$black-1: #070008;
$black-1t: #070008e5;

$red-0: #2d080f;
$red-1: #470101;
$red-2: #730202;
$red-3: #c2121b;
$red-4: #ea4822;
$red-5: #fb8d57;

$cream-1: #efc4ae;
$cream-2: #9f7f6f;
$cream-3: #735a4e;

$white-1: #ffefef;
