$black-1: #0e0808;

$red-0: #260101;
$red-1: #400101;
$red-2: #730202;
$red-3: #d92211;
$red-4: #f27b50;
$red-5: #f2b988;

$cream-1: #d3b695;
$cream-2: #c4a07c;
$cream-3: #866e51;

$white-1: #ffefef;
