$black-1: #111111;
$black-2: #1b1b1b;
$black-3: #303030;

$green-1: #089682;

$magenta-1: #ab2978;
$magenta-2: #c7328b;
$magenta-3: #ab2978;

$pink-1: #da8572;

$red-1: #8f2525;
$red-2: #af3636;

$white-1: #dddddd;

$yellow-1: #e6ce65;
$yellow-2: #ffeb93;
$yellow-3: #c9b24e;

$card-width: 260px;
$card-height: 300px;
