$black-1: #111111;
$black-2: #1b1b1b;
$black-3: #303030;

$blue-1: #729bee;

$green-1: #215739;
$green-2: #338558;
$green-3: #42ae72;

$pink-1: #da8572;

$red-1: #8f2525;
$red-2: #af3636;

$white-1: #dddddd;

$yellow-1: #e6ce65;
$yellow-2: #ffeb93;
$yellow-3: #c9b24e;

$card-width: 90%;
$card-height: 300px;
