@import '../../scss/vars';

.wrapper {
  position: fixed;
  right: 0;
  width: 30%;
  padding: 40px;
  background-color: $black-2;
}

.skeletonCard {
  margin: 0 auto;
  margin-bottom: 50px;
  height: $card-height;
}

.skeletonText {
}
